.questions_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 88vh;
  background-color: #f4f4f9;
}

.questions_container h2 {
  position: relative;
  font-size: 4rem;
  padding: 0;
  margin: 30px 0 50px 0;
  color: #333;
}

.answers_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.answers_container button {
  height: 100px;
  width: 300px;
  margin: 10px;
  border: 1px solid #222;
  border-radius: 2px;
  font-size: 1.25rem;
}

.green {
  background-color: rgb(245, 241, 241);
  background-color: #69b57881;
}

.red {
  background-color: rgb(245, 241, 241);
}

.questions_button_next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  border: 1px solid black;
  background-color: #ee6c4d;
  color: #ffffff;
  border-radius: 3px;
  font-family: 'Arial Black', Gadget, sans-serif;
}

.questions_button_next:hover {
  border: 1px solid black;
  background-color: #474949;
  color: #ffffff;
}

.questions_button_over {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  border: 1px solid black;
  background-color: #3fa332;
  color: #ffffff;
  border-radius: 3px;
  font-family: 'Arial Black', Gadget, sans-serif;
}

.questions_button_over:hover {
  border: 1px solid black;
  background-color: #474949;
  color: #ffffff;
}

.confetti_show {
  position: absolute;
  top: 0;
  background-image: url('../../assets/confetti.gif');
  width: 100vw;
  height: 500px;
  display: block;
}

.highscore {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
}

.highscore h4 {
  padding: 0;
  margin: 0;
}

@media (max-width: 1540px) {
  .questions_container h2 {
    position: relative;
    font-size: 3rem;
    padding: 0;
    margin: 30px 0 30px 0;
    color: #333;
  }

  .answers_container button {
    height: 85px;
    width: 250px;
    margin: 5px;
    border: 1px solid #222;
    border-radius: 2px;
  }
}

@media (max-width: 1024px) {
  .questions_container h2 {
    position: relative;
    font-size: 2.5rem;
    padding: 0;
    margin: 30px 0 30px 0;
    color: #333;
  }

  .answers_container button {
    height: 85px;
    width: 190px;
    margin: 5px;
    border: 1px solid #222;
    border-radius: 2px;
    font-size: 1.1rem;
  }
}

@media (max-width: 768px) {
  .questions_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90%;
    background-color: #f4f4f9;
    z-index: 1;
    overflow: scroll;
  }

  .questions_container h2 {
    position: relative;
    font-size: 2.5rem;
    padding: 0;
    margin: 30px 0 30px 0;
    color: #333;
  }

  .answers_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .answers_container button {
    height: 85px;
    width: 170px;
    margin: 5px;
    border: 1px solid #222;
    border-radius: 2px;
    font-size: 0.95rem;
  }

  .highscore h4 {
    padding: 0;
    margin: 0;
    font-size: 0.85rem;
  }
}

@media (max-width: 550px) {
  .questions_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90%;
    background-color: #f4f4f9;
    z-index: 1;
    overflow: scroll;
  }

  .questions_container h2 {
    position: relative;
    font-size: 2rem;
    padding: 0;
    margin: 30px 0 30px 0;
    color: #333;
  }

  .answers_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .answers_container button {
    height: 45px;
    width: 250px;
    margin: 5px;
    border: 1px solid #222;
    border-radius: 2px;
    font-size: 0.85rem;
  }

  .highscore h4 {
    padding: 0;
    margin: 0;
    font-size: 0.85rem;
  }
}
